.tab-component {
    border: 1px solid #dadada;
    border-radius: 6px;
    cursor: default;
}
.tab-content {
    padding: 0.25rem 1rem;
}

.tab-component:hover {
    background-color: #626161;
}

.tab-content.active {
    background-color: #474646;
        border-radius: 6px;
}
